.popup {
  min-width: 280px;
  min-height: 195px;
  background: #fff;
  border-radius: 10px;
  z-index: 3;
  position: relative;
  transition: visibility 0.5s, opacity 0.5s linear;
}

@media (min-width: 768px) {
  .popup {
    min-width: 430px;
    min-height: 330px;
  }
}