.card__button {
  
  order: 3;
  width: 20px;
  height: 20px;
  align-self: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  transition: opacity .5s;
  
}

.card__button:hover {
  opacity: .6;
  cursor: pointer;
}