.form__submit_state_disabled {
  margin: 18px 0 0 0;
  padding: 15px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0,0,0, .5);
  border-radius: 2px;
  font-size: 14px;
  line-height: 17px;
  opacity: .5;
}