.lead__button_type_edit {
  width: 18px;
  height: 18px;
  align-self: center;
  background-image: url(../../../../images/pen.svg);
  background-size: 10px 10px;
  border: 1px solid #fff;
  display: flex;
  margin-left: 10px;
}