.lead__button_type_edit {
  width: 18px;
  height: 18px;
  align-self: center;
  background-image: url(../../../../images/pen.svg);
  background-size: 8px 8px;
  border: 1px solid #fff;
  display: flex;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .lead__button_type_edit {
    width: 24px;
    height: 24px;
    background-size: 10px 10px;
  }
}