.lead__button_type_add {
  order: 4;
  width: calc(100% - 38px);
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 2px;
  display: flex;
  padding: 17px 0;
  background-image: url(../../../../images/plus.svg);
  background-size: 16px 16px;
}

@media (min-width: 1024px) {
  .lead__button_type_add {
    grid-area: lead-button-add;
    width: 150px;
    height: 50px;
    background-size: 22px 22px;
  }
}