.lead__button {
  transition: opacity .5s;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.lead__button:hover {
  opacity: .6;
  cursor: pointer;
}
