.lead__header {
  order: 2;
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .lead__header {
    grid-area: lead-header;
    align-self: end;
    justify-self: start;
    margin: 0 0 0 30px
  }
}