.popup__close {
  width: 35px;
  height: 35px;
  background-image: url(../../../images/close.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -5px;
  top: -40px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .popup__close {
    right: -30px;
    top: -30px;
  }
}