.popup__close {
  width: 26px;
  height: 26px;
  background-image: url(../../../images/close.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  right: 0;
  top: -35px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
  cursor: pointer;
}

@media (min-width: 768px) {
  .popup__close {
    width: 40px;
    height: 35px;
    right: -30px;
    top: -30px;
  }
}