.popup__close {
  width: 26px;
  height: 26px;
  background-image: url(../../../images/plus.svg);
  transform: rotate(-45deg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  right: 0;
  top: -35px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
  cursor: pointer;
}

@media (min-width: 768px) {
  .popup__close {
    width: 48px;
    height: 48px;
    right: -40px;
    top: -40px;
    background-size: 40px 40px;
  }
}