.lead__subtitle {
  order: 3;
  margin: 14px auto 32px auto;
  font-size: 14px;
  line-height: 16px;
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 768px) {
  .lead__subtitle {
    max-width: 550px;
  }
}
@media (min-width: 1024px) {
  .lead__subtitle {
    grid-area: lead-subtitle;
    margin: 16px 0 0 30px;
    align-self: start;
    justify-self: start;
    font-size: 18px;
    line-height: 21px;
  }
}