.lead__avatar {
  order: 1;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  object-fit: cover;
  margin: 38px auto 22px auto;
}

@media (min-width: 1024px) {
  .lead__avatar {
    grid-area: lead-avatar;
    
  }
}