.card {
  display: grid;
  
  grid-template-columns: auto 50px;
  grid-template-areas:
    "card-img card-img"
    ". card-trash"
    "card-title card-like";
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #fff;
  justify-content: space-between;
}